---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Arjun Bhagat"
  role="Frontend Developer"
  image="arj.jpg"
  imageAlt="Arjun's default profile image"
>
  <p>
    "Imagination, an open mind, and the courage to challenge the status quo are
    the basic ingredients for every innovation"
  </p>

  <p>
    Hello, my name is Arjun Bhagat and I'm currently in my senior year at SFSU.
    I attended Cal Poly SLO for computer engineering after high schoo, decided
    didn't enjoy myself and decided to take a break from school. I'm back now
    and eager to do what it takes to earn my degree and become a proficient
    compuer scientist.
  </p>

  <p>
    Some of my hobbies include backpacks, patches and patch making, and music
    production. I also love bowl and play airsofton the weekends, when time
    allows. I've also worked as an airsoft tech during the pandemic in which I
    repaired and modded airsoft guns.
  </p>
</BioLayout>
