---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout>
  <div class="panel-content-wrapper">
    <div class="title-panel">
      <div class="title-panel-text">
        <h1 class="catchy-oneliner">Brewing innovative software.</h1>
        <div class="oneliner-paragraph">
          <p>
            We like chai, and we like building software. We want to combine the
            two and help the world out just a bit, all while fueling our
            caffeine addiction.
          </p>
        </div>
      </div>
      <div class="title-content-image">
        <img
          src="/tea-comp-code.jpg"
          alt="tea next to computer with code on it"
        />
      </div>
    </div>
  </div>

  <hr />

  <section id="about" class="panel-content-wrapper">
    <div class="about-panel">
      <div class="about-content-image">
        <img
          src="/tea-comp-code2.jpg"
          alt="tea next to computer with code on it, again"
        />
      </div>
      <div class="company-overview">
        <h2 class="about-title">About</h2>
        <p>
          Welcome to Chai Solutions, where we blend creativity, precision, and
          cutting-edge technology to brew up the perfect solutions for your
          software needs. Our team of engineers is focused on delivering
          high-quality, scalable, and innovative applications tailored to modern
          businesses and individual projects alike.
        </p>
        <p>
          This group came into existence for the capstone project for a
          university class: specifically, CSC-648 at <a href="https://sfsu.edu">
            San Francisco State University</a
          >. As a part of this, Chai Solutions showcases the expertise and
          methodologies applied to real-world development challenges, and
          demonstrates our ability to architect, design,and implement complex
          software systems.
        </p>
      </div>
    </div>
  </section>

  <hr />

  <section id="team" class="panel-content-wrapper">
    <h2 class="team-title">Our Team</h2>

    <div class="team-grid">
      <div class="team-card">
        <img src="fawkes.jpg" alt="Matt Stoffel" class="team-image" />
        <div class="team-info">
          <h3 class="team-name">Matt Stoffel</h3>
          <p class="team-role">Team Lead Engineer</p>
        </div>
      </div>

      <div class="team-card">
        <img src="water-sucks.png" alt="Varun Narravula" class="team-image" />
        <div class="team-info">
          <h3 class="team-name">Varun Narravula</h3>
          <p class="team-role">Frontend Lead Engineer/DevOps Engineer</p>
        </div>
      </div>

      <div class="team-card">
        <img src="trollface.png" alt="Vignesh Guruswami" class="team-image" />
        <div class="team-info">
          <h3 class="team-name">Vignesh Guruswami</h3>
          <p class="team-role">Backend Lead Engineer</p>
        </div>
      </div>

      <div class="team-card">
        <img src="trollface.png" alt="Thamizarasu Sankara" class="team-image" />
        <div class="team-info">
          <h3 class="team-name">Thamizarasu Sankara</h3>
          <p class="team-role">Full-Stack Engineer/Scrum Master</p>
        </div>
      </div>

      <div class="team-card">
        <img src="trollface.png" alt="Arjun Bhagat" class="team-image" />
        <div class="team-info">
          <h3 class="team-name">Arjun Bhagat</h3>
          <p class="team-role">Frontend Engineer</p>
        </div>
      </div>

      <div class="team-card">
        <img src="trollface.png" alt="Robert Ace Gonzales" class="team-image" />
        <div class="team-info">
          <h3 class="team-name">Robert Ace Gonzales</h3>
          <p class="team-role">Backend Engineer</p>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section id="contact" class="panel-content-wrapper">
    <div class="contact-panel">
      <h2>Contact Us</h2>
      <p>
        Have a question or want to learn more about how Chai Solutions can help
        bring your ideas to life? Reach out to us at:
      </p>

      <div class="email">
        <p>
          <strong>Email: </strong>
          <a href="mailto:info@chai-solutions.com">noreply@chai-solutions.org</a
          >
        </p>
      </div>
      <div class="phone">
        <p>
          <strong>Phone: </strong><a href="tel:+15058425662"
            >+1 (505) 842-5662</a
          >
        </p>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  h2 {
    color: #f37125;
    font-size: 2em;
  }

  hr {
    color: #ffffff;
    width: 100%;
    margin: 3em 0em;
  }

  .catchy-oneliner {
    margin-top: 0em;
    font-size: 3em;
  }

  .oneliner-paragraph {
    font-size: 1.3em;
    width: 40%;
  }

  .title-panel {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .title-content-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  .company-overview {
    float: right;
    width: 50%;
  }

  .about-title,
  .team-title {
    text-align: center;
  }

  .about-panel {
    display: flex;
    gap: 2em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }

  .about-content-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    flex-shrink: 1;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .team-card {
    border-radius: 10px;
    box-shadow: 4px 8px #8888880d;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
    transition: transform 0.2s;
  }

  .team-card:hover {
    transform: translateY(-5px);
  }

  .team-image-wrapper {
    width: 100%;
    height: 6em;
    overflow: hidden;
  }

  .team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .team-info {
    padding: 15px;
    text-align: center;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team-name {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .team-role {
    font-size: 1em;
    color: #888888;
  }

  .contact-panel {
    display: flex;
    flex-direction: column;
  }
</style>
