---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Justin Doi"
  role="Full Stack Engineer"
  image="justin.jpg"
  imageAlt="Matts default profile image"
>
  <p>"So is it any wonder people are afraid of technology? TECNOLOGY!"</p>

  <p>
    Hello, my name is Justin Doi. I have been at SF State since 2022, majoring
    in Computer Science. My goal is to one day work on projects meant to help
    people in some way.
  </p>

  <p>
    I enjoy collecting action figures, building Gundam model kits, and 3D
    modeling and printing my own action figure designs.
  </p>
</BioLayout>
