---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Matt Stoffel"
  role="Team Lead"
  image="matt.png"
  imageAlt="Matts default profile image"
>
  <p>This is a quote from someone smarter than myself.</p>

  <p>
    Hi, my name is Matt. I’ve developed and published apps on the Apple app
    store for my own purposes and as a freelancer. I also have experience
    managing Linux and Solaris servers from my time in the Navy.
  </p>

  <p>
    In my free time I like to work on my little homelab where I learn kubernetes
    and docker in a low risk environment. I also like to play boradegames and
    other tabletop games like 40k
  </p>
</BioLayout>
