---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Robert Ace Gonzales"
  role="Backend Engineer"
  image="robert.png"
  imageAlt="Robert Ace Gonzales's default profile image"
>
  <p>
    <a href="https://www.linkedin.com/in/robert-ace-gonzales/"
      >linkedin please!</a
    >
  </p>

  <p>I am eager to work on backend development in a team for the first time.</p>
  <p>
    I enjoy propagating small plants and mosses. My favorite plant is white
    nerve fittonia and favorite moss is fern moss as it quickly adds a lot of
    detail.
  </p>
</BioLayout>
