---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Thamizarasu Sankara"
  role="Full Stack Engineer/Scrum Master"
  image="DoctorLegend.jpg"
  imageAlt="Thamizarasu Sankara's default profile image"
>
  <p>
    Philliphians 4:13: "I can do all things through Christ who strengthens me."
  </p>

  <p>
    What's up! My name is Thamizarasu Sankara, but you guys can call me Tamil. I
    am a senior at SF State. I'm majoring in Computer Science. Fun fact...my
    name is also the language I speak at home. Also the state of India I'm from
    is Tamil Nadu.
  </p>

  <p>
    I also love music; I been playing the piano for about 9 years, and recently
    got into music production. I'm a multisport athlete and compete hard in any
    sport. I mainly love watching football and basketball. (DubNation and 49ers
    Faithful) If you guys ever wanna collaborate with me on a project here's my
    GitHub: thamizarasus
  </p>
</BioLayout>
