---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Varun Narravula"
  role="Frontend Lead/DevOps Engineer"
  image="water-sucks.png"
  imageAlt="Varun Narravula's default profile image"
>
  <p>Aspiring, but never achieving.</p>

  <p>
    I love building software, and have been a professional developer since 2020,
    when I graudated high school. I'm looking for work, in case anyone is
    hiring, so here is my <a
      href="https://raw.githubusercontent.com/water-sucks/resume/main/resume.pdf"
      >resume</a
    >
    in case you happen to be hiring! :&rbrace;
  </p>

  <p>
    I also love music; I play the drums, and can compose as well. And in a
    surprising turn of events, I also love watching football (Raider Nation 4
    Life!)
  </p>
</BioLayout>
