---
import BioLayout from '@layouts/BioLayout.astro';
---

<BioLayout
  name="Vignesh Guruswami"
  role="Backend Lead"
  image="whale.png"
  imageAlt="Vignesh's default profile image"
>
  <p>
    "The shore gives way to the sea. And the sea, my friends, does not dream of
    you..."
  </p>

  <p>
    My name is Vignesh Guruswami. I am a senior in SF State majoring in Computer
    Science with a minor in Physics. My work tends on aerospace and embedded
    systems, but I am proficient in full-stack development and software
    engineering. I will be the backend lead for this project.
  </p>

  <p>
    I love to read novels, particularly sci-fi and fantasy. My favorites include
    The Malazan Book of the Fallen, Lord of the Rings, and the works of Isaac
    Asimov. I also enjoy everything outdoors, whether it's rock climbing,
    backpacking, or hiking. Science is the last great passion of mime, and my
    interest is broad from marine ecosystems to exoplanet research.
  </p>
</BioLayout>
