---
import MainLayout from '@layouts/MainLayout.astro';

type Props = {
  name: string;
  role: string;
  image?: string;
  imageAlt?: string;
};

const { name, role, image, imageAlt } = Astro.props;

if (image && !imageAlt) {
  throw Error('imageAlt must be defined when image is not undefined');
}
---

<MainLayout title={name}>
  <div class="panel-content-wrapper">
    <h1>{name}</h1>
    <h2>{role}</h2>
    {
      image ?
        <img src={`/${image}`} alt={imageAlt!} class="provided-image" />
      : null
    }
    <slot />
  </div>
</MainLayout>

<style>
  .provided-image {
    display: flex;
    align-items: flex-start;
    max-height: 300px;
    width: auto;
    object-fit: contain;
  }
</style>
